/** @format */

@keyframes right {
	0% {
		transform: translateX(-7rem);

		opacity: 0;
	}
	80% {
		opacity: 0.5;
	}
	100% {
		transform: translateX(0);

		opacity: 1;
	}
}
@keyframes left {
	0% {
		transform: translateX(7rem);

		opacity: 0;
	}
	80% {
		opacity: 0.5;
	}

	100% {
		transform: translateX(0);

		opacity: 1;
	}
}
