/** @format */

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: $color-white;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/hero-small.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

	height: 95vh;
	clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%);
	@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
		(-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
		(min-width: 125em) {
		background-image: linear-gradient(
				to right bottom,
				rgba($color-primary-light, 0.8),
				rgba($color-primary-dark, 0.8)
			),
			url(../img/hero-small.jpg);
	}

	@include respond(phone) {
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	}
	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
		opacity: 0.8;
		transition: opacity 100ms;
	}
	&__logo {
		img {
			width: 4rem;
			aspect-ratio: initial;
			cursor: pointer;
			user-select: none;
		}
	}
	&__logo-box:hover {
		opacity: 1;
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
